services:
  - type: web
    name: proyecto-unilever-backend
    env: node
    rootDir: back-end
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false